<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
     <link rel="stylesheet" type="text/css" href="style/admin/style.css">
</head>
<body>
    <h1>Administration</h1>
    <div>
        <h2>Add a user</h2>
        <form action="/" method="post">
            <label for="username">Username :</label>
            <input type="text" name="username">
            <label for="firstname">Firstname :</label>
            <input type="text" name="firstname">
            <label for="lastname">Lastname :</label>
            <input type="text" name="lastname">
            <label for="email">Email :</label>
            <input type="text" name="email">
            <button type="submit" name="submit">Submit</button>
        </form>
    </div>
</body>
</html>